.calculator body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
.calculator{
    width: 480px;
    height: 700px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgb(0, 0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 0 auto;
}
.calculator button {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90px;
    height: 90px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    border-radius: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    transition-duration: 0.1s;
}
.calculator button:active {
    /* transform: translateY(-5px); */
    transform: scale(0.9);
}
.calculator button:hover{
    box-shadow: inset 5px 1px 10px #333;
    transition-duration: 0.1s;
}
.calculator .output{
    height: 150px;
    /* border: 2px solid rgba(238,174,202); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px;
}
.calculator input{
    display: flex;
    width: 400px;
    background: transparent;
    font-size: 80px;
    cursor: pointer;
    text-align: right;
    border: none;
    position: relative;
    left: 30px; top: 25px
}
.calculator input::placeholder{
    color: black
}
.calculator .input{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 15px 20px;
}
.calculator .operator{
    background-color:green;
    color: white;
}
.calculator .ans{
    background-color:orange;
    color: white;
}