.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    gap: 10px;
    /* border: 1px solid; */
    padding: 20px 0px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    background-color: #23527c;
    color: white;
    transition: 0.2s;
}
.item:hover{
    background-color: white;
    color: black;
    border: 1px solid #23527c;
}